// font variables
$nameFont: 'Italiana', serif;
$mainFont: 'Raleway', sans-serif;

//color variables
$navBar: #746b65;

@import "_nav";
@import "_body";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";

body {
    background: black;
    display: flex;
}


.reservation__page__container {
    margin: 0 auto;
    color: white;
    padding: 0 1rem 0 1rem;

    .reservation__page__header {
        text-align: center;
    }

    .reservation__page__sub-header {
        text-align: center;
    }

    .image__container {
        border: 1px solid white;
        height: 600px;
        width: 900px;
        background-image: url("../images/luann-hunt-790203-unsplash.jpg");
        background-size: contain;
        background-clip: content-box;
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: center;
    }

    .form__container {
        padding: 1rem;
        
        form {
            display: flex;
            justify-content: center;
        }

        div {
            padding: .5rem;
        }
    }
}

