body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    background: border-box url("../images/cathal-mac-an-bheatha-222577-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: $mainFont;

    .restaurant__name__container {
        margin: 0;
        padding: 1rem 1rem;
        display: block;
        position: absolute;
        left: 75vw;
        top: 40vh;
        color: #da560a;
        background: rgba(255, 255, 255, .7);
        
        .restaurant__name {
            font-family: $nameFont;
            font-size: 8rem;
            margin: .25rem;
            letter-spacing: .2rem;

            &__description {
                text-align: center;
                letter-spacing: .2rem;
                font-size: 2rem;
            }
        }
    }

    .reservation__container {
        display: block;
        position: relative;
        top: 5%;
        left: 80%;
        width: 150px;

        &__button {
            text-decoration: none;
            color: white;
            background: black;
            border: 1px solid black;
            padding: .5rem 1rem;
        }
    }

    @media(max-width: 1280px) {
        .restaurant__name__container {
            left: 40vw;

            .restaurant__name {
                font-size: 6rem;
                text-align: center;
    
                &__description {
                    font-size: 2rem;
                }
            }
        }
    }

    @media(max-width: 768px) {
        .restaurant__name__container {
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;

            .restaurant__name {
                font-size: 6rem;
                text-align: center;
    
                &__description {
                    font-size: 2rem;
                }
            }
        }

        .reservation__container {
            left: 75%;
        }
    }

    @media (max-width: 420px) {

        .restaurant__name__container {
            .restaurant__name {
                font-size: 3rem;

                &__description {
                    font-size: 1rem;
                }
            }
        }

        .reservation__container {
            left: 50%;
            transform: translate(-50%,-50%);
            top: 60%;
        }
    }
}

