// font variables
$nameFont: 'Italiana', serif;
$mainFont: 'Raleway', sans-serif;

//color variables
$navBar: #746b65;

@import "_body";
@import "_nav";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";

body {
    background: black;
}

.about {
    color: white;
    width: 50vw;
    height: 90vh;
    margin: 0 auto;
    
    &__header {
        text-align: center;
    }

    .section__space {
        border-top: 1px solid white;
    }

    &__owner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 1rem;
        .img__container--owner {
            padding: 1rem;
            border: 1px solid white;
            img {
                height: 300px;
            }
        }
    }

    &__chef {
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
        .img__container--chef {
            padding: 1rem;
            border: 1px solid white;
            img {
                height: 400px;
            }
        }
    }
}

@media (max-width: 1720px) {
    .about {
        width: 80vw;

        &__container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    
        &__owner {
            display: flex;
            flex-direction: column;
        }
    
        &__chef {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 480px){
    .about {
        &__owner {
            .img__container--owner {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}