// font variables
$nameFont: 'Italiana', serif;
$mainFont: 'Raleway', sans-serif;

//color variables
$navBar: #746b65;

@import "_body";
@import "_nav";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";

body {
    background: black;
}

.about {
    color: white;
    width: 50vw;
    height: 90vh;
    margin: 0 auto;
    
    &__header {
        text-align: center;
    }

    .section__space {
        border-top: 1px solid white;
    }

    &__owner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 1rem;
        .img__container--owner {

            img {
                height: 300px;
            }
        }
    }

    &__chef {
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
        .img__container--chef {

            img {
                height: 400px;
            }
        }
    }

    @media (max-width: 420px) {

        width: 80vw;
        
        &__container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__owner {
            display: block;

            img {
                width: 17rem;
            }
        }

        &__chef {
            display: block;

            img {
                width: 17rem;
            }
        }
    }
}