// font variables
$nameFont: 'Italiana', serif;
$mainFont: 'Raleway', sans-serif;

//color variables
$navBar: #746b65;

@import "_nav";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";

body {
    font-family: $mainFont;
}

.menu {
    position: relative;
    top: 0;
    left: 40%;
    width: 40vw;
    text-align: center;
    &__container {
        display: flex;
        flex-direction: column;
        width: inherit;
        
        .starters {
            
            &__wrapper {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .description {
                width: 15rem;
                line-height: 1.5;
                padding: 1rem;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .pizza {

        &__container {
            display: flex;
            justify-content: space-evenly;
            padding: 1rem;
        }
    }

    .toppings {

        &__wrapper {
            display: flex;
            justify-content: space-evenly;
            padding: 1rem;

            li {
                text-align: left;
            }
        }
    }

    .wine {

        &__wrapper {
            display: flex;
            justify-content: space-evenly;

            li {
                text-align: left;
            }
        }
    }
}