// font variables
$nameFont: 'Italiana', serif;
$mainFont: 'Raleway', sans-serif;

//color variables
$navBar: #746b65;

@import "_body";
@import "_nav";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";

body {
    background: black;
    

    .reservation__container {
        top: 10%;
        position: fixed;
    }

    .reservation__container__button {
        border: 1px solid white;
    }

    @media(min-width: 801px) {
        .reservation__container {
            position: absolute;
            left: 70%;
            top: 5%;
        }
    }

    @media (max-width: 500px) {
        .reservation__container {
            position: relative;
            top: 5%;
            padding: 4rem 0 2rem 0;
        }
    }
}

.nav {
    .navbar {
        .nav__expander {
            &.open {
                color: #da560a;
            }
        }
    }
}

.menu {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    color: white;
    
    &__container {
        display: flex;
        flex-direction: column;
        width: inherit;
        
        .starters {
            
            &__wrapper {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .description {
                width: 15rem;
                line-height: 1.5;
                padding: 1rem;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .pizza {

        &__container {
            display: flex;
            justify-content: space-evenly;
            padding: 1rem;
        }
    }

    .toppings {

        &__wrapper {
            display: flex;
            justify-content: space-evenly;
            padding: 1rem;

            li {
                text-align: left;
            }
        }
    }

    .wine {

        &__wrapper {
            display: flex;
            justify-content: space-evenly;

            li {
                text-align: left;
            }
        }
    }

    @media (max-width: 420px) {
        width: 85vw;
    }
}