// font variables
$nameFont: 'Italiana', serif;
$mainFont: 'Raleway', sans-serif;

//color variables
$navBar: #746b65;

//imports
@import "_body";
@import "nav";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/brands.scss";
